@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@keyframes skelSwoosh {
  0%,
  10% {
    transform: translateX(-30%) scaleX(0.3);
  }
  100% {
    transform: translateX(100%) scaleX(1);
  }
}

.ellipsis-2 {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}


.mySwiper2 > * {
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0px 15px;
  }
}